.home-container{
    width: 100vw;
    min-height: 100vh;
    /* padding: 1rem; */
   background-color: rgb(4, 9, 66);
    overflow-x: hidden;
}
.home-container .home-heading h1{
    font-size: 4rem;
    text-align: center;
    margin: 4rem;
    color: white;
}
.card-main-container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content:space-between;

    align-items: center;
    gap: 20px;
    padding:0rem 4rem;
}