.card-wrapper{
    position: relative;
    /* padding: 2rem  ; */
    /* background-color: rgb(59, 146, 187); */
    border-radius: 1rem;
    background-color: aliceblue;
    overflow: hidden;
    width: 18%;
    padding-bottom:2rem;
    height: 28vw;
}
.card-wrapper:hover{
    background-color: white;
    /* opacity: 0.6; */
    padding: 1rem;
    transform: scale(1.2);
    transition: 0.44s all ease-in-out;
    z-index: 1000;
    
}
.image-banner{
    position: relative;
    width:100%;
    height: 100%;

}
.image-banner img{
    border-radius: 1rem;
    width: 100%;
    height: 80%;
    padding-bottom: 10px;
}

  

.image-banner .type-lan{
    position: absolute;
    top: 0rem;
    left: 0rem;
    font-size: 2rem;
    background-color: rgb(59, 55, 55);
    padding: 0.5rem 2rem;
    color: white;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}
.image-banner .type-lan b{
    margin-left: 1rem;
}
.image-banner .circle-rate{
    position:absolute;
    top:-0.5rem;
    right:-1.2rem;
    
}
.image-banner .circle-rate .rating-icon{
    font-size: 3.9rem ;
    color: greenyellow;
   
}
.image-banner .circle-rate b{
    position: relative;
    left: -2.5rem;
    top: -1.3rem;
    font-size: 2rem;
    color: aliceblue;
}
.title-date{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom:5px;
    height: 20%;
    width: 100%;
}
 .card-wrapper .release-date{
     display: flex;
     width: 100%;
     justify-content: space-between; 
     align-items: center;
    font-size: 16px;
    color: rgb(181, 9, 43);
    padding:0 1rem;

} 
.card-wrapper .name{
  
    padding: 1rem;
    /* text-justify: auto; */
    color: rgb(0, 1, 0);
    text-decoration: none;
    font-weight: bold;
   
}
 a{
    text-decoration: none;
}
@media (max-width:1025px){
   .card-wrapper .release-date{
        font-size: 13px;
        
    }
}

@media (max-width:860px){
    .card-wrapper{
        width: 22%;
        height: 30vw;
    }
     .card-wrapper .release-date{
        font-size: 13px;
        flex-direction: column;
    }
    .card-wrapper .name{
        text-align: center;
        display: none;
    }
}
@media (max-width:545px){
    .card-wrapper{
        width: 30%;
    
    }
}
@media (max-width:450px){
    .card-wrapper{
        width: 26%;
       
    }
}